{% extends 'base.html.twig' %}

{% block title %}Banner index{% endblock %}

{% block body %}
    <h1>Banner index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for banner in banners %}
            <tr>
                <td>{{ banner.id }}</td>
                <td>{{ banner.title }}</td>
                <td>
                    <a href="{{ path('app_banner_show', {'id': banner.id}) }}">show</a>
                    <a href="{{ path('app_banner_edit', {'id': banner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_banner_new') }}">Create new</a>
{% endblock %}
